<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <h1>Olá, {{name}}!</h1>
    <p>Agradecemos muito por escolher viajar com a Ecorota! Esperamos que você
      tenha uma experiência incrível e autêntica em contato com a natureza. Em
      anexo, enviamos o seu ingresso para a viagem. Se precisar de alguma
      informação adicional, entre em contato conosco. Estamos sempre à
      disposição para ajudá-lo. Obrigado novamente por confiar em nós e tenha
      uma excelente viagem! Atenciosamente, Equipe Ecorota</p>
  </body>
</html>