<meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
<html lang='en'>

  <head></head>
  <div
    id='__react-email-preview'
    style='display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0'
  >Obrigado pela compra!<div
    > ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿</div>
  </div>

  <body
    style='background-color:#fff;font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif'
  >
    <table
      align='center'
      role='presentation'
      cellSpacing='0'
      cellPadding='0'
      border='0'
      width='100%'
      style='max-width:37.5em'
    >
      <tr style='width:100%'>
        <td>
          <table
            style='padding:30px 20px'
            align='center'
            border='0'
            cellPadding='0'
            cellSpacing='0'
            role='presentation'
            width='100%'
          >
            <tbody>
              <tr>
                <td><img
                    src='cid:logo'
                    width='200'
                    style='display:block;outline:none;border:none;text-decoration:none'
                  /></td>
              </tr>
            </tbody>
          </table>
          <table
            style='border:1px solid rgb(0,0,0, 0.1);border-radius:3px;overflow:hidden'
            align='center'
            border='0'
            cellPadding='0'
            cellSpacing='0'
            role='presentation'
            width='100%'
          >
            <tbody align='center'>
              <tr>
                <td><img
                    src='cid:banner'
                    width='100%'
                    style='display:block;outline:none;border:none;text-decoration:none'
                  />
                  <table
                    width='100%'
                    style='padding:20px 40px;padding-bottom:0'
                    align='center'
                    role='presentation'
                    cellSpacing='0'
                    cellPadding='0'
                    border='0'
                  >
                    <tbody style='width:100%'>
                      <tr style='width:100%'>
                        <td>
                          <h1
                            style='font-size:32px;font-weight:bold;text-align:center'
                          >Olá, {{name}}</h1>
                          <h2
                            style='font-size:26px;font-weight:bold;text-align:center'
                          >Agradecemos muito por escolher viajar com a Ecorota!
                            Esperamos que você tenha uma experiência incrível e
                            autêntica em contato com a natureza. Em anexo,
                            enviamos o seu ingresso para a viagem.</h2>
                          <p
                            style='font-size:16px;line-height:24px;margin:16px 0'
                          ><b>Experiência: </b>{{package}}</p>
                          <p
                            style='font-size:16px;line-height:24px;margin:16px 0;margin-top:-5px'
                          ><b>Preço: </b>R$ {{price}},00</p>
                          <p
                            style='font-size:16px;line-height:24px;margin:16px 0;margin-top:-5px'
                          ><b>Quantidade: </b>{{quantity}}</p>
                          <p
                            style='font-size:16px;line-height:24px;margin:16px 0;margin-top:-5px'
                          >
                            Se precisar de alguma informação adicional, entre em
                            contato conosco. Estamos sempre à disposição para
                            ajudá-lo. Obrigado novamente por confiar em nós e
                            tenha uma excelente viagem! Atenciosamente, Equipe
                            Ecorota</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    align='center'
                    border='0'
                    cellPadding='0'
                    cellSpacing='0'
                    role='presentation'
                    width='100%'
                    style='margin-top:32px'
                  >
                    <tbody>
                      <tr>
                        <td><img
                            src='cid:ticket'
                            width='300'
                            style='display:block;outline:none;border:none;text-decoration:none;margin-left:auto;margin-right:auto;margin-top:0px;margin-bottom:0px'
                          /></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table
            style='padding:45px 0 0 0'
            align='center'
            border='0'
            cellPadding='0'
            cellSpacing='0'
            role='presentation'
            width='100%'
          >
            <tbody>
              <tr>
                <td><img
                    src='https://react-email-demo-ijnnx5hul-resend.vercel.app/static/yelp-footer.png'
                    width='620'
                    style='display:block;outline:none;border:none;text-decoration:none'
                  /></td>
              </tr>
            </tbody>
          </table>
          <p
            style='font-size:12px;line-height:24px;margin:16px 0;text-align:center;color:rgb(0,0,0, 0.7)'
          >© 2023 | Ecorota Inc. |
            <a href='https://ecorota.com'>https://ecorota.com</a></p>
        </td>
      </tr>
    </table>
  </body>

</html>